<%-include('partials/header.ejs');-%>

<main>
    <section class="section hero-section">
        <div class="hero-section-left">
            <h1>Weather <br> on the go..</h1>
            <p class="para">Be up to date with this awesome weather app for you</p>
            <a href="/weather"><button class="btn"> Get started </button> </a> 
        </div>
        <div class="hero-section-right container">
            <div class="img-container">
                <div class="img-group">
                    <img src="/images/img1.jpg" alt="">
                    <img src="/images/img2.jpg" alt="">
                    <img src="/images/img3.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</main>

<%-include('partials/footer.ejs');-%>